.bola {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.color0 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color1 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color2 {
	background-image: url("assets/img/temer.png");
}

.color3 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color4 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color5 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color6	 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color7	 {
	background-image: url("assets/img/temer.png");
}

.color8	 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color9	 {
	background-image: url("assets/img/caminhoneiro.png");
}

.color10	 {
	background-image: url("assets/img/temer.png");
}

.points {
	position: absolute;
	width: 90%;
	text-align: right;
}

.loser {
	position: absolute;
	width: 90%;
	text-align: center;
	color: red;
	font-size: 3rem;
}